## Dataset Collection and converting
[Source](https://shuaizhang.tech/posts/2019/08/blog-post-3/)

In [1]:
import pandas as pd 
import numpy as np
import json

---
Amazon Product rating dataset / Musical Instrument rating \
Main Data Source : [link](http://jmcauley.ucsd.edu/data/amazon/links.html) \
Dataset : [link](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Musical_Instruments_5.json.gz)

In [5]:
# item rating dataset
rating_df = pd.read_csv('../data/datasets/amazon_musical_int_rating.csv')
rating_df.columns = ['ItemId', 'UserId', 'Rating', 'TimeStamp']
print('DataFrame shape : ', rating_df.shape)
print('Uniques items :', rating_df['ItemId'].nunique())
print('Unique users :', rating_df['UserId'].nunique() )
rating_df.head()

DataFrame shape :  (583932, 4)
Uniques items : 426921
Unique users : 23965

           ItemId      UserId  Rating   TimeStamp
0   AGZ8SM1BGK3CK  B000GFDAUG     5.0  1198195200
1  A2VHZ21245KBT7  B000GIOPK2     4.0  1215388800
2   ACX8YW2D5EGP6  B000GIOPK2     4.0  1185840000
3   A9RNMO9MUSMTJ  B000GIOPK2     2.0  1281052800
4  A3STFVPM8NHJ7B  B000GIOPK2     5.0  1203897600

---
Amazon Product rating dataset / Musical Instrument review \
Dataset : [link](http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/ratings_Musical_Instruments.csv)

In [7]:
with open('../data/datasets/Musical_Instruments_5.json', 'r') as pf:
    json_data = json.load(pf)

In [8]:
review_df = pd.read_json('../data/datasets/Musical_Instruments_5.json')

In [9]:
review_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2IBPI20UZIR0U,1384719342,"cassandra tu ""Yeah, well, that's just like, u...","[0, 0]","Not much to write about here, but it does exac...",5,good,1393545600,"02 28, 2014"
1,A14VAT5EAX3D9S,1384719342,Jake,"[13, 14]",The product does exactly as it should and is q...,5,Jake,1363392000,"03 16, 2013"
2,A195EZSQDW3E21,1384719342,"Rick Bennette ""Rick Bennette""","[1, 1]",The primary job of this device is to block the...,5,It Does The Job Well,1377648000,"08 28, 2013"
3,A2C00NNG1ZQQG2,1384719342,"RustyBill ""Sunday Rocker""","[0, 0]",Nice windscreen protects my MXL mic and preven...,5,GOOD WINDSCREEN FOR THE MONEY,1392336000,"02 14, 2014"
4,A94QU4C90B1AX,1384719342,SEAN MASLANKA,"[0, 0]",This pop filter is great. It looks and perform...,5,No more pops when I record my vocals.,1392940800,"02 21, 2014"

---
Dataset for Mobile App Retrieval (SIGIR 2015) \
Main Data source : [link](https://sites.google.com/site/daehpark/Resources/data-set-for-mobile-app-retrieval) \
Rating dataset : [link](https://www.google.com/url?q=https%3A%2F%2Fwww.dropbox.com%2Fs%2Frfif858zd5wseta%2Fappsearch_data.zip%3Fdl%3D0&sa=D&sntz=1&usg=AOvVaw0wK8oPTJRc8GsEhwOuzuWX)

In [3]:
import html
with open('../data/datasets/apps_all.json', 'r', encoding='cp1251') as f, open('../data/datasets/sigir.json', 'w') as g:
    content = html.unescape(f.read())
    g.write(content)

In [4]:
with open('../data/datasets/apps_all.json', 'r') as pf:
    json_data = json.load(pf)

In [8]:
mreview_df = pd.DataFrame.from_dict(json_data)
mreview_df['description'] = mreview_df['description'].str.replace(r'<[^<>]*>', '', regex=True)

In [9]:
mreview_df.shape

(43041, 17)

In [10]:
mreview_df.head()

,app_url,rating,operating_system,description,title,reviewers,price,content_rating,app_id,email,date_published,developer_link,category,downloads,developer,dev_website,badge
0,com.nut.man,3.323255777359009,2.3 and up,Look! Up in the sky!It's a bird. It's a plane....,Nutman,1290,Free,Low Maturity,com.nut.man,bazhenzh@126.com,"November 14, 2014",/store/apps/developer?id=Soda+Studio,Action,"100,000 - 500,000",Soda Studio,NaN,NaN
1,com.gamevil.darknessreborn2.android.google.glo...,4.3375091552734375,2.3 and up,Shatter the darkness!A world swallowed by chao...,Darkness Reborn,72158,Free,Medium Maturity,com.gamevil.darknessreborn2.android.google.glo...,help@gamevil.com,"November 20, 2014",/store/apps/developer?id=GAMEVIL,Action,"1,000,000 - 5,000,000",GAMEVIL,https://www.google.com/url?q=http://WWW.GAMEVI...,Top Developer
2,jamgame.absorb,3.8088579177856445,2.3 and up,Fight for your life by absorbing enemies. Abso...,ABSORPTION,1716,Free,Low Maturity,jamgame.absorb,support@lemon-jam.com,"November 17, 2014",/store/apps/developer?id=iamRo,Action,"100,000 - 500,000",iamRo,https://www.google.com/url?q=http://lemon-jam....,NaN
3,com.imangi.templerun2,4.314027786254883,2.3 and up,"With over 170 million downloads, Temple Run re...",Temple Run 2,3769597,Free,Low Maturity,com.imangi.templerun2,support-android@imangistudios.com,"October 17, 2014",/store/apps/developer?id=Imangi+Studios,Action,"100,000,000 - 500,000,000",Imangi Studios,https://www.google.com/url?q=http://www.imangi...,NaN
4,com.glu.contractkiller3,4.192999839782715,3.0 and up,"You are a master assassin, hired to infiltrate...",CONTRACT KILLER: SNIPER,106741,Free,Medium Maturity,com.glu.contractkiller3,androidsupport@glu.com,"November 21, 2014",/store/apps/developer?id=Glu,Action,"1,000,000 - 5,000,000",Glu,https://www.google.com/url?q=http://www.glu.co...,Top Developer

In [13]:
msreview_df = pd.read_json('../data/datasets/apps_all.json')
msreview_df.head()

,app_url,rating,operating_system,description,title,reviewers,price,content_rating,app_id,email,date_published,developer_link,category,downloads,developer,dev_website,badge
0,com.nut.man,3.323256,2.3 and up,"<div class=""id-app-orig-desc"">Look! Up in the ...",Nutman,1290,Free,Low Maturity,com.nut.man,bazhenzh@126.com,"November 14, 2014",/store/apps/developer?id=Soda+Studio,Action,"100,000 - 500,000",Soda Studio,NaN,NaN
1,com.gamevil.darknessreborn2.android.google.glo...,4.337509,2.3 and up,"<div class=""id-app-orig-desc"">Shatter the dark...",Darkness Reborn,72158,Free,Medium Maturity,com.gamevil.darknessreborn2.android.google.glo...,help@gamevil.com,"November 20, 2014",/store/apps/developer?id=GAMEVIL,Action,"1,000,000 - 5,000,000",GAMEVIL,https://www.google.com/url?q=http://WWW.GAMEVI...,Top Developer
2,jamgame.absorb,3.808858,2.3 and up,"<div class=""id-app-orig-desc"">Fight for your l...",ABSORPTION,1716,Free,Low Maturity,jamgame.absorb,support@lemon-jam.com,"November 17, 2014",/store/apps/developer?id=iamRo,Action,"100,000 - 500,000",iamRo,https://www.google.com/url?q=http://lemon-jam....,NaN
3,com.imangi.templerun2,4.314028,2.3 and up,"<div class=""id-app-orig-desc"">With over 170 mi...",Temple Run 2,3769597,Free,Low Maturity,com.imangi.templerun2,support-android@imangistudios.com,"October 17, 2014",/store/apps/developer?id=Imangi+Studios,Action,"100,000,000 - 500,000,000",Imangi Studios,https://www.google.com/url?q=http://www.imangi...,NaN
4,com.glu.contractkiller3,4.193000,3.0 and up,"<div class=""id-app-orig-desc"">You are a master...",CONTRACT KILLER: SNIPER,106741,Free,Medium Maturity,com.glu.contractkiller3,androidsupport@glu.com,"November 21, 2014",/store/apps/developer?id=Glu,Action,"1,000,000 - 5,000,000",Glu,https://www.google.com/url?q=http://www.glu.co...,Top Developer

---
Review Dataset : [link](https://www.google.com/url?q=https%3A%2F%2Fwww.dropbox.com%2Fs%2F9b83dwll75bmf80%2Fappsearch_reviews.zip%3Fdl%3D0&sa=D&sntz=1&usg=AOvVaw2cFIBwTyuyJBhmw6SbiBZX)

In [14]:
mrriview_df = pd.read_json('../data/datasets/appsearch_reviews.json')
mrriview_df.head()

,reviews,num_reviews,app_id
0,[This game is very good! Kudos to the develope...,50,com.nut.man
1,[Life Changer. I used to be addicted to Ifunn...,50,com.gamevil.darknessreborn2.android.google.glo...
2,[Frantic and Unpredictable. As far as surviva...,50,jamgame.absorb
3,[. Well to be honest It doesn't live up to th...,50,com.imangi.templerun2
4,[. Inspite of having more than 3000 diamond y...,50,com.glu.contractkiller3

---
Frappe mobile app usage rating dataset \
Data source : [link](https://171e731f-93f4-4c62-9b58-c8f419ba01f7.filesusr.com/archives/be17b7_474755a5e9684a749a012516d04fb456.zip?dn=Mobile_Frappe.zip)

In [15]:
frappe_df = pd.read_csv('../data/datasets/frappe1.csv')
frappe_df.head()

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,city
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,0
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,0
2,2,2,6,evening,monday,workday,unknown,free,cloudy,Spain,369
3,3,3,1,sunset,thursday,workday,unknown,free,unknown,United States,1028
4,4,4,428,night,thursday,workday,home,free,sunny,Switzerland,147

---
Music Preferences in car [Resource for Context Aware Recommendation] \
data source : [link](https://171e731f-93f4-4c62-9b58-c8f419ba01f7.filesusr.com/archives/be17b7_65152091a93140b98d4c9723127521ec.zip?dn=Music_InCarMusic.zip)

In [42]:
rating_data = pd.read_excel('../data/datasets/Data_InCarMusic.xlsx',sheet_name='ContextualRating')
track_data = pd.read_excel('../data/datasets/Data_InCarMusic.xlsx',sheet_name='Music Track')
cat_data = pd.read_excel('../data/datasets/Data_InCarMusic.xlsx',sheet_name='Music Category', header=None)

In [ ]:
track_data['category'] = track_data[' category_id'].map(dict(zip(cat_data[0], cat_data[1])))
track_data = track_data.loc[:, ['id', ' album', ' artist', ' title',  'category']]
track_data.rename(columns={' album': 'album', ' title': 'title', ' artist': 'artist'})
full_data = pd.merge(left=rating_data, right=track_data, how='inner', left_on='ItemID', right_on='id', )

In [49]:
full_data.head()

,UserID,ItemID,Rating,DrivingStyle,landscape,mood,naturalphenomena,RoadType,sleepiness,trafficConditions,weather,id,album,artist,title,category
0,1001,715,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sunny,715,\N,OneRepublic,Secrets,Pop music
1,1001,715,2,NaN,NaN,NaN,NaN,NaN,NaN,traffic jam,NaN,715,\N,OneRepublic,Secrets,Pop music
2,1001,715,3,NaN,NaN,sad,NaN,NaN,NaN,NaN,NaN,715,\N,OneRepublic,Secrets,Pop music
3,1001,715,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715,\N,OneRepublic,Secrets,Pop music
4,1002,715,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rainy,715,\N,OneRepublic,Secrets,Pop music

In [50]:
full_data.to_csv('../data/datasets/music_pref.csv', index=False)

---
ReRex, tourism rating dataset \
data source : [link](https://171e731f-93f4-4c62-9b58-c8f419ba01f7.filesusr.com/archives/be17b7_74196b583fc844eab4b9443ae82427b5.zip?dn=rerex.zip)

In [66]:
import glob 

dfs = []
for path in glob.glob('../data/yahoo/*.csv'):
    df = pd.read_csv(path, header=None)
    dfs.append(df)

full_df = pd.concat(dfs, ignore_index=True)
full_df = full_df.iloc[:, :-1]
full_df.columns = ['UserId', 'LoungeId', 'rating', 'visit', 'birthDay', 'gender', 'ageCategory']
full_df.head()

   UserId  LoungeId  rating  visit  birthDay gender ageCategory
0    3787      9069       4      0      1991      m       child
1    1669      6205       1      0      1982      m       adult
2    4531      9738       5      1      1968      m       adult
3    4589      9738       2      0      1980      m       adult
4     281      2888       2      1      1982      m       adult

In [67]:
full_df.to_csv('../data/datasets/tourist_rating.csv', index=False)

---
Mobile App user dataset \
Main source : [link](http://www0.cs.ucl.ac.uk/staff/S.Lim/soolinglim/Datasets.html) \
data source : [link](http://www.cs.ucl.ac.uk/research/app_user_survey/mobile_app_user_dataset.xlsx)

In [68]:
msarvey_data = pd.read_excel('../data/datasets/mobile_app_user_dataset.xlsx')
msarvey_data.head()

/Users/nipunpathitage/opt/anaconda3/envs/rec/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,ID,StartDate,EndDate,Response Status,Participant Type,Q1_1_TEXT,Q1_2_TEXT,Q1_3_TEXT,Q1_4_TEXT,Q1_5_TEXT,...,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6,Q30_7,Q30_8,Q30_9,Q30_10
0,Unique ID for each participant,StartDate,EndDate,"0=incomplete response, 1=complete response, 2=...","1=ours, 2=panel",Browser Meta Info-Browser,Browser Meta Info-Version,Browser Meta Info-Operating System,Browser Meta Info-Screen Resolution,Browser Meta Info-Flash Version,...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...
1,1,2012-09-26 07:46:07,2012-09-26 07:46:21,2,1,Chrome,21.0.1180.89,WOW64,1280x800,11.3.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2012-09-26 07:45:19,2012-09-26 07:56:41,1,1,Safari iPhone,6,CPU iPhone OS 6_0 like Mac OS X,320x480,-1,...,6,3,7,2,6,3,4,3,4,4
3,3,2012-09-26 07:45:35,2012-09-26 08:01:56,1,1,Safari,6,CPU OS 6_0 like Mac OS X,768x1024,-1,...,4,4,5,2,3,3,5,3,5,3
4,4,2012-09-26 16:58:29,2012-09-26 17:05:50,1,1,Firefox,15.0.1,Intel Mac OS X 10.6,1920x1200,11.4.402,...,4,3,6,3,5,5,5,2,5,3

---
MovieLens dataset 1m \
Main source : [link](https://grouplens.org/datasets/movielens/) \
data source : [link](https://files.grouplens.org/datasets/movielens/ml-1m.zip) \
pandas encoding types docs [link](https://docs.python.org/3/library/codecs.html#standard-encodings)

In [72]:
rating_dat = pd.read_csv('../data/datasets/ml-1m/ratings.dat', header=None, sep='::', engine='python')
rating_dat.columns = ['UserId', 'MovieId', 'Rating', 'Timestamp']
rating_dat.head()

   UserId  MovieId  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [74]:
user_dat = pd.read_csv('../data/datasets/ml-1m/users.dat', header=None, sep='::', engine='python')
user_dat.columns = ['UserId', 'Gender', 'Age', 'Occupation', 'Zip-code']
user_dat.head()

   UserId Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [76]:
item_dat = pd.read_csv('../data/datasets/ml-1m/movies.dat', header=None, sep='::', engine='python', encoding = "ISO-8859-1")
item_dat.columns = ['MovieId', 'Title', 'Genres']
item_dat.head()

   MovieId                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy